.ViewBox {
  width: 100%;
  display: flex;
  align-content: space-between;
  flex-direction: column;
  position: relative;
  height: 450px;
}

.ViewBox-comments {
  margin-left: 12px;
  width: 100%;
  background-color: $background;
  overflow: scroll;
  a {
    font-weight: bold;
  }
}

.ViewBox-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    font-weight: bold;
  }
}

.ViewBox-group-comment {
  display: inline-block;
  position: relative;
  width: 90%;
}

.ViewBox-input {
  resize: none;
  display: block;
  width: 100%;
  border: 1px solid $gray;
}

.ViewBox-input:focus {
  outline: 0;
  box-shadow: 0 0 3px rgba(100,65,164,.2);
  border: 1px solid #cbc8d0;
}

.ViewBox-input-submit {
  background-color: $purple;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 3rem;
  padding: 0 1rem;
  position: absolute;
  white-space: nowrap;
  right: 0;
  margin-top: 10px;
  transition: all .2s;
  border: none;
}

.ViewBox-listFilter {
  position: absolute;
  bottom: 0;
  display: block;
  height: 10px;
}

@media screen and (min-width: 992px) {
  .ViewBox {
    flex-direction: row;
  }

  .ViewBox-comments {
    padding-left:10px;
  }
}
